<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Language="1033" Name="Hackathon2024TaxMaster" Version="1.0.0.0" Manufacturer="Accelerators" UpgradeCode="D1C5B6A9-7A49-4D74-A065-B12A8D987439" InstallerVersion="200" Scope="perUser">
        
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="MainExecutable" />
            <!--<Files Include="$(SolutionDir)\TaxMaster.UI\bin\$(Configuration)\net8.0-windows10.0.19041.0\win10-x64\**">
                <Exclude Files="$(SolutionDir)\TaxMaster.UI\bin\$(Configuration)\net8.0-windows10.0.19041.0\win10-x64\Output\**" />
            </Files>-->
            <Files Include="$(SolutionDir)\TaxMaster.UI\bin\$(Configuration)\net8.0-windows10.0.19041.0\win10-x64\**">
                <Exclude Files="$(SolutionDir)\TaxMaster.UI\bin\$(Configuration)\net8.0-windows10.0.19041.0\win10-x64\Output" />
            </Files>
        </Feature>

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="INSTALLFOLDER" Name="Hackathon2024TaxMaster">
                <Component Id="MainExecutable" Guid="E2A852DF-456B-40D4-97B5-2C3C34EA60E9">
                    <File Id="MainExecutableFile" Source="$(SolutionDir)\TaxMaster.UI\bin\$(Configuration)\net8.0-windows10.0.19041.0\win10-x64\TaxMaster.UI.exe" />

                    <Shortcut Name="TaxMaster" Directory="DesktopFolder"
                              Advertise="yes" WorkingDirectory="INSTALLFOLDER" />

                    <Shortcut Name="TaxMaster" Directory="ProgramMenuFolder"
                              Advertise="yes" WorkingDirectory="INSTALLFOLDER" />
                </Component>
            </Directory>
        </StandardDirectory>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <WixVariable Id="WixUILicenseRtf" Value="..\LicenseAgreement.rtf" />

        <UI Id="UI">
            <!-- Creates a basic UI for the installer -->
            <ui:WixUI Id="WixUI_InstallDir" />

            <!-- Shows launch application on last screen -->
            <Publish Dialog="ExitDialog"
                Control="Finish"
                Event="DoAction"
                Value="LaunchApplication"
                Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed"/>
        </UI>

        <!-- Checkbox checked by default -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>

        <!-- Checkbox text message -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Application On Exit" />

        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="TaxMaster has been successfully installed! Who said taxes couldn't be fun?" />

        <!-- Set our executable (its ID) as custom action target -->
        <Property Id="WixShellExecTarget" Value="[#MainExecutableFile]"/>

        <!-- Run custom action -->
        <CustomAction Id="LaunchApplication"
            BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
            DllEntry="WixShellExec"
            Impersonate="yes" />

    </Package>

</Wix>
